<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset=UTF-8 />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="keywords" content="wallet, pirate">
    {% seo %}
  </head>

  
  <body>



    <nav>
        <ul class="menu">
            <li class="logo"><a href="/"> <img src="/assets/images/logo.svg" alt="Pirate Wallet" /></a></li>
            <li class="item"><a href="https://blog.piratewallet.io">blog</a></li>
            <li class="item"><a href="https://github.com/Meshbits/pirate-chain-ios-wallet">github</a></li>
            <li class="item"><a href="/appinfo">app info</a></li>
        </ul>
    </nav>
    <!-- <nav class="mobile">
        <ul class="menu">
            <li class="logo"><a href="#"> <img src="/assets/images/logo.svg" alt="Pirate Wallet" /></a></li>
            <li class="item">
                <a href="#">
                    <img src="/assets/images/menu-icon.svg" alt="Menu" />

                </a>
                <ul class="submenu">
                    <li class="subitem"><a href="#">blog</a></li>
                    <li class="subitem"><a href="#">github</a></li>
                </ul>
            </li>

        </ul>
    </nav> -->


    
    <section class="banner">
        <h1>we believe in <br>
            privacy!<br>
            not <span>piracy</span></h1>
        <p>Reliable, fast & secure<br>wallet for Pirate Chain</p>
        <ul class="download-btn mt-4">
            <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
            <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
        </ul>
        <div class="img-container">
            <img src="/assets/images/phone-mockup.png" alt="" />
        </div>

    </section>
    <section class="first features right">
        <div class="icon">
            <img src="/assets/images/pirate-coins.png" alt="Pirate Coins" />
        </div>
        <div class="container">
            <h2>best anonymous<br>
                digital money.</h2>
            <p>
                Built using the best cryptography and privacy algorithms in the industry.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features left">
        <div class="icon">
            <img src="/assets/images/privacy-icon.png" alt="top privacy by default" />
        </div>
        <div class="container">
            <h2>top privacy by default.</h2>
            <p>
                Pirate Chain only allows making shielded (private) transactions only using the latest shielded ARRR
                pool!
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>

    <section class="features right">
        <div class="icon">
            <img src="/assets/images/attack-icon.png" alt="51% attack resistant." />
        </div>
        <div class="container">
            <h2>51% attack resistant.</h2>
            <p>
                Pirate Chain uses delayed Proof of Work (dPoW) against 51% attacks to secure itself againnst 51%
                attacks.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features left">
        <div class="icon">
            <img src="/assets/images/privacy-icon2.png" alt="privacy preserving" />
        </div>
        <div class="container">
            <h2>privacy preserving.</h2>
            <p>
                Pirate wallet is z-address native wallet, since Pirate Chain doesn’t support public addresses.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features right">
        <div class="icon">
            <img src="/assets/images/sdk-icon.png" alt="powered by ECC/Zcash SDKs" />
        </div>
        <div class="container">
            <h2>powered by ECC/Zcash SDKs</h2>
            <p>
                Pirate Wallet uses the best tool sets created by the research & development team from ECC/Zcash.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features left">
        <div class="icon">
            <img src="/assets/images/wallet-icon.png" alt="pirate wallet is a light-wallet" />
        </div>
        <div class="container">
            <h2>pirate wallet is a light-wallet.</h2>
            <p>
                Using Pirate Wallet requires trust in the lightwalletd server (that stores the Pirate Chain blockchain)
                to display accurate transaction information.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features right">
        <div class="icon">
            <img src="/assets/images/check-icon.png" alt="self-custody wallet for Pirate Chain" />
        </div>
        <div class="container">
            <h2>self-custody wallet for Pirate Chain.</h2>
            <p>
                You have sole responsibility over your funds stored on Pirate Wallet. Please immediately & securely
                backup the seed words upon creating a wallet.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features left">
        <div class="icon">
            <img src="/assets/images/server-icon.png" alt="set up custom lightwalletd server" />
        </div>
        <div class="container">
            <h2>set up custom lightwalletd server.</h2>
            <p>
                User has choice to setting up their own lightwalletd server, and use that instead.
            </p>
            <ul class="download-btn">
                <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
                <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
            </ul>
        </div>

    </section>
    <section class="features left help">

        <div class="container">
            <h2>need help?</h2>
            <p>Connect with us via twitter.</p>


        </div>
        <a class="btn" href="https://twitter.com/piratewallet">Connect with us</a>


    </section>
    <section class="features blur-bg">
        <div class="container center">
            <h2>more features</h2>

            <ul class="feature-list">
                <li>Always Free</li>
                <li>Hold your own keys</li>
                <li>Open source code</li>
                <li>Import & Recover wallet</li>
                <li>Beautiful, intuitive interface</li>
                <li>Send & Receive anonymously</li>

            </ul>
        </div>
    </section>
  
    <!----->
    <footer>
        <ul class="social-icons">
            <li><a href="https://twitter.com/piratewallet"> <img src="/assets/images/twitter.svg" alt="Follow us on twitter" /></a></li>
            <li><a href="https://www.youtube.com/channel/UCSWvcN4-d_MeDXYiRcofYdg"> <img src="/assets/images/youtube.svg" alt="Subscribe" /></a></li>
        </ul>
        <ul class="download-btn">
            <!-- <li><a href="#"> <img src="/assets/images/googleplay.png" alt="Download Pirate Wallet on Google Play" /></a></li> -->
            <li><a href="{{ page.ios_app_store }}"> <img src="/assets/images/appstore.png" alt="Download Pirate Wallet on the App Store" /></a></li>
        </ul>
        <ul class="menu footer-menu">
            <li class="item"><a href="https://blog.piratewallet.io">blog</a></li>
            <li class="item"><a href="https://github.com/Meshbits/pirate-chain-ios-wallet">github</a></li>
            <li class="item"><a href="/appinfo">app info</a></li>
            <li class="item"><a href="https://github.com/Meshbits/pirate-chain-ios-wallet/blob/master/PRIVACY.md">privacy policy</a></li>
            <li class="item"><a href="https://github.com/Meshbits/pirate-chain-ios-wallet/blob/master/LICENSE">license</a></li>
        </ul>
        <p>copyright © 2021 Meshbits Ltd.</p>
    </footer>



</body>

</html>